* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background-color: rgb(10, 10, 11);
  /* border: 2px solid red; */
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navlist {
  color: white;
  list-style: none;
  display: flex;
}
.navlist li a {
  color: white;
  font-weight: 550;
  font-size: 2rem;
  padding: 4px;
  border-radius: 7px;
  text-decoration: none;
  cursor: pointer;
  margin: 0px 9px;
  transition: all 0.7s;
}
.navlist li a:hover {
  /* text-decoration: underline; */
  background-color: white;
  color: black;
}
.welcomeSection{
  
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border:2px solid red;
  height:89.2vh;
}
.welcomeSection::before {
  content: "";
  background: url(https://images.unsplash.com/photo-1593086586351-1673fca190cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width:100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.6;
  
}
.welcomeMessage{
  background-color: white;
  width: 60vw;
  height: 60vh;
  margin:auto;
  border-radius: 17px;
  color: black;
}
