<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    
    <title>Medonor</title>
    <div class="AboutContainer">
  </head>
  <body>
    <header>
      <nav >
        <img id="heart" src="https://cdn-icons-gif.flaticon.com/6449/6449707.gif"  class="icon" alt="" srcset="" height="100px" width="100px"  >
        <ul class="navlist">
          <li><a href="/home"> Home </a></li>
          <li>
            <a href="/about" class="activeLink"> About </a>
          </li>
          <li>
            <a href="/feedback"> FAQ's </a>
          </li>
          <li>
            <a href="/contact"> Contact </a>
          </li>
          <li>
            <a href="/donate">Donate</a>
          </li>
          <li>
            <a href="https://chatformeds.netlify.app" target="_blank">ChatForMeds</a>
            
          </li>
          <li>
            <form method="post" action="/logout">

              <button class="logoutBtn" type="submit">Logout</button>
            </form>
            
          </li>
        </ul>
      </nav>
    </header>
    
    <!-- <div class="container"> -->
    <section class="welcomeSection">
      <div class="welcomeMessage">
        
        <h1>Welcome to MedDonors</h1>
        <div id="messageContent">
          <ul style="list-style: none;">
            <li style="margin-top:0.7rem;">Welcome to our website, where we strive to make a difference in the lives of people in need by providing them with durable medical equipment.</li>
            <li style="margin-top:0.7rem;">Our mission is to help those who are less fortunate by donating wheelchairs, walkers, and other medical equipment to individuals and organizations that help distribute them to the underprivileged.</li>
            <li style="margin-top:0.7rem;">At our core, we believe that everyone deserves access to the medical equipment they need to live a full and active life. Unfortunately, not everyone has the resources to obtain the equipment they need, which is where we come in.</li>
            <li style="margin-top:0.7rem;">
              We work tirelessly to collect donations of durable medical equipment from individuals and organizations across the country, and then we distribute these donations to those who need them the most.
            </li>

          </ul>
           

          
        </div>
        
        
      </div>
      
    </section>
    
  </div>    
  <!-- </div> -->
  </body>
  </html>
