<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>  Contact Us Form  </title>
    <link rel="stylesheet" href="contact.css">
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <nav style="position:absolute;top:0px">
    <img src="https://cdn-icons-gif.flaticon.com/6449/6449707.gif" alt="" srcset="" height="100px" width="100px" class="icon" > 
    <ul style="position:sticky" class="navlist" >
      <li><a href="/home" > Home </a></li>
      <li>
        <a href="/about"> About </a>
      </li>
      <li>
            <a href="/feedback"> FAQ's </a>
          </li>
      <li>
        <a href="/contact" class="activeLink"> Contact </a>
      </li>
      <li>
        <a href="/donate">Donate</a>
        
      </li>
      <li>
        <a href="https://chatformeds.netlify.app" target="_blank">ChatForMeds</a>
        
      </li>
    </ul>
  </nav>

<body>
  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">vishwakarma institute of technology</div>
          <div class="text-two">Bibwewadi,pune</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+0098 4584 5647</div>
          <div class="text-two">+0096 1834 5678</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">johnny24@gmail.com</div>
          <div class="text-two">dummy57@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>Thank you for visiting our website and for your interest in our cause. If you have any questions, comments, or suggestions, please don't hesitate to contact us using the form below. We will do our best to respond to your inquiry as soon as possible.</p>
      <form action="https://formsubmit.co/kirmada2004@gmail.com" method="POST">
        <div class="input-box">
          <input type="text" id="name"   name="name" placeholder="Enter your name">
        </div>
        <div class="input-box">
        
		  <input type="email" name="email" placeholder="Email your Address">
        </div>
        <div class="input-box message-box">
          <textarea name="message" id="message" placeholder="Message"
		  required=""></textarea>
        </div>
        <div class="button">
         
		  <button type="submit">Send Now</button>
			
            
        </div>
      </form>
    </div>
    </div>
  </div>
</body>



</html>
