<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medonor</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="donate.css">
</head>

<nav style="position:absolute;top:0px">
    <!-- <img src="https://cdn-icons-gif.flaticon.com/6449/6449707.gif" alt="" srcset="" height="100px" width="100px" class="icon" > -->
    <ul class="navlist" >
      <li><a href="/home" > Home </a></li>
      <li>
        <a href="/about"> About </a>
      </li>
      <li>
        <a href=""> Contact </a>
      </li>
      <li>
        <a href="/donate" class="activeLink">Donate</a>
        
      </li>
    </ul>
  </nav>


    <form action="/donate" method="post" id="donateForm">
       <label for="medicalEquipment">Select Equipment to Donate:</label>
       <select name="equipment" id="">
        <option value="wheelchair">Wheelchair</option>
        <option value="walker">Walker</option>
        <option value="cane">Cane</option>
        <option value="stethoscope">stethoscope</option>
       </select>

       <label for="quality">Select Equipment Quality:</label>
       <select name="quality" id="">
        <option value="brand-new">brand new</option>
        <option value="good">good</option>
        <option value="used">used</option>
        <option value="old">old</option>
       </select>

       <button type:"submit">Submit</button>

    </form>
    <div id="successMessage"><%= message %></div>
    



    <script>
        const slidingMessage = document.querySelector("#successMessage");
        
        async function slidingAnimation(){
            slidingMessage.classList.add("notifySuccess");    
        //    await setTimeout(() => {
        //        slidingMessage.classList.remove("notifySuccess")
        //        slidingMessage.innerText="";
        //     }, 3000);
        }
        
        if(slidingMessage.innerHTML !==""){
          slidingAnimation();
        }

    </script>
</body>
</html>