<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="feedback.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
    
    <title>Medonor</title>
    <div class="AboutContainer">
  </head>
  <body>
    <header>
      <nav >
        <img id="heart" src="https://cdn-icons-gif.flaticon.com/6449/6449707.gif"  class="icon" alt="" srcset="" height="100px" width="100px"  >
        <ul class="navlist">
          <li><a href="/home"> Home </a></li>
          <li>
            <a href="/about"> About </a>
          </li>
          <li>
            <a href="/feedback"> FAQ's </a>
          </li>
          <li>
            <a href="/contact"> Contact </a>
          </li>
          <li>
            <a href="/donate">Donate</a>
          </li>
          <li>
            <a href="https://chatformeds.netlify.app" target="_blank">ChatForMeds</a>
            
          </li>
          <li>
            <form method="post" action="/logout">

              <button class="logoutBtn" type="submit">Logout</button>
            </form>
            
          </li>
        </ul>
      </nav>
    </header>
    <div class="AboutContainer">
    
    <!-- <div class="container"> -->
    <section class="welcomeSection">
        <div class="wrapper">
        </br>
        </br>
        </br>
        </br>
            <p> "Join us in creating a world with access to quality healthcare for all"</p>
            <h1> Frequently Asked Questions</h1>

            <div class="faq">
                <button class="accordian">
                    What types of medical equipment are accepted for donation?
                    <i class="fa-solid fa-chevron-down"></i>
                    </button>
                    <div class="panel">
                        <p>
                            The types of medical equipment accepted for donation
                            typically include stethoscopes, wheelchairs, walkers, crutches, etc.
                        </p>
                    </div>
            </div>
            <div class="faq">
                <button class="accordian">
                    How can I donate my medical equipment?
                    <i class="fa-solid fa-chevron-down"></i>
                    </button>
                    <div class="panel">
                        <p>
                            All you have to do is go on the donate tab and select the equipment from the menu you want to donate
                        </p>
                    </div>
            </div>
            <div class="faq">
                <button class="accordian">
                   What happens when i register some item for donation?
                    <i class="fa-solid fa-chevron-down"></i>
                    </button>
                    <div class="panel">
                        <p>
                            We will send a mail to all the relevant NGOs regarding your willingness to donate the given item<br>
                            We will also attach your email-id in the donation mails<br>
                            You will hear back from the NGOs which are interested in accepting your donation.
                        </p>
                    </div>
            </div>
            
            
            <div class="faq">
                <button class="accordian">
                    Do you accept used medical equipment, or does it have to be new?
                    <i class="fa-solid fa-chevron-down"></i>
                    </button>
                    <div class="panel">
                        <p>
                            Most medical equipment donated is both used and new so we accept both. 
                        </p>
                    </div>
            </div>
            <div class="faq">
                <button class="accordian">
                    How can I ensure that my donated equipment will be put to good use?
                    <i class="fa-solid fa-chevron-down"></i>
                    </button>
                    <div class="panel">
                        <p>
                           You can contact the NGO you have donated the equipment to for further details.<br>Our job is to link you and the organizations that distribute these equipments to the end user
                        </p>
                    </div>
            </div>
            <script>
                var acc=document.getElementsByClassName("accordian");
                var i;
                
                for(i=0;i<acc.length;i++)
                {
                  acc[i].addEventListener("click",function(){
                      this.classList.toggle("active");
                      this.parentElement.classList.toggle("active");
      
                       var panel=this.nextElementSibling;
                       if(panel.style.display=="block")
                       {
                         
                         panel.style.display="inline-block";
                         panel.style.width="100vw";
                          panel.style.opacity="0";
                          panel.style.position="relative";
                          panel.style.top="-1rem";

                         
                          
                       }else{
                          panel.style.display="block";
                          panel.style.opacity="1";
                          panel.style.position="relative";
                          panel.style.top="0rem";
                         
                       }
                  });
                }
              </script> 
              </div>        </div>
    </section>
  </div>    
  <!-- </div> -->
  </body>
  </html>
