<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="defaultEntry.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <span class="errorMessage"><%= message %></span>

      <div class="logo-email-container">
        <div class="left">
          <video height="200px" width="200px" autoplay muted loop id="logoVideo">
            <source src="/images/medonor.mp4" type="video/mp4" />
          </video>
          <p class="intro-text">
            Medonor is a platform that helps you donate used medical equipment <br>
            to the people who need it the most
          </p>
        </div>
        <div class="right">
           <form action="/login" method="post" id="loginForm">
                <input type="email" name="email" placeholder="enter email" required>
                <input type="password" name="password"  placeholder="enter password" required>
                <button type="submit">Login</button>


            </form>

            <form action="/register" id="registerForm">
                <button type="submit">Create Account</button>
        
            </form>


        </div>
       

      </div>
   
    </div>
   
  </body>
</html>
