<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medonor</title>
    <link rel="stylesheet" href="defaultEntry.css">
</head>
<body>
    <div class="container">
      <span class="errorMessage"><%= message %></span>

        <div class="logo-email-container">
          <div class="left">
            <video height="200px" width="200px" autoplay muted loop id="logoVideo">
              <source src="/images/medonor.mp4" type="video/mp4" />
            </video>
            <p class="intro-text">
              Medonor is a platform that helps you donate used medical equipment <br>
              to the people who need it the most
            </p>
          </div>
          <div class="right">
             <form action="/register" method="post" id="loginForm">
                
                  <input type="name" name="name"  placeholder="enter name" required>
                  <input type="email" name="email"  placeholder="enter email" required>
                  <input type="password" name="password" id="" placeholder="set password" required>
                  <button type="submit">Create Account</button>
  
  
              </form>
  
              <form action="/login" id="registerForm">
                  <button type="submit">Go to Login</button>
          
              </form>
  
  
          </div>
         
  
        </div>
     
      </div>
</body>
</html>