*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body::before{
    content:"";
    position:fixed;
    background: url("./images/mountain2.jpeg") no-repeat ;
    top:0;
    left:0;
    width:100vw;
    min-height: 100vh;
    background-size: cover;
    z-index: -1;
    opacity: 1;

}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(0, 0, 0); */
}
.logo-email-container{
    display: flex;
    width: 60vw;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.324);
    padding:3rem 0rem;
    border-radius:15px;
}
.logo-email-container p{
    color: white;
    text-align: left;
    font-weight: bold;
    font-size: 1.2rem;
    width: 20rem;
}
.intro-text{
    margin-top: 1rem;
}
video{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logoVideo{
   
    border-radius: 100%;
    /* position:absolute; */
    margin:auto;
}
.left{
    /* background-color: blue; */
    width: 25rem;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right #loginForm{
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    /* font-size: 1.2rem; */
}
.right #loginForm input{
    border-radius: 10px;
    outline: none;
    padding: 10px ;
    margin-top:10px;
    text-align: center;
    font-size: 1.2rem;
    transition: all 0.7s;
    border:none;
}
.right #loginForm input:hover{
    padding:10px 3rem;
}
.right #loginForm button{
    border:none;
    background-color: rgb(26, 237, 7);
    font-weight: 800; 
    color: rgb(8, 8, 8);
    padding:0.6rem;
    border-radius: 14px;
    font-size: 1.3rem;  
    transition: 1s; 
    margin-top:10px
}
.right #loginForm button:hover{
    color:white;
    background-color: rgb(7, 182, 7);
    text-shadow: 2px 2px black;

}
#registerForm{
    margin-top: 2rem;
}
#registerForm button{
    color: white;
    font-weight: bold;
    padding:0.8rem;
    background-color: rgb(130, 4, 248);
    display:block;
    margin:auto;
    border-radius: 14px;
    border:none;
    transition: 0.8s;
}
#registerForm button:hover{
    background-color: indigo;
    text-shadow: 2px 2px black;
}

.errorMessage{
    color:rgb(255, 255, 255);
    font-weight: bold;
    display: block;
    position: absolute;
    top:-11rem;
    padding:2rem 10rem;
    font-size: 1.2rem;
    background-color: rgb(36, 35, 35);
    border-radius: 0px 0px 12px 12px;
    box-shadow: 3px 7px 10px  white;
    animation:3s errorDisplay;
}

@keyframes errorDisplay {
    0%{
        top:-2rem;
    }

    25%{
        top:0rem;
    }
    50%{
        top:0rem;
    }
    100%{
        top:-10rem;
    }
    
}