* {
  margin: 0;
  padding: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Bebas+Neue&family=Montserrat:ital@1&display=swap');
/* to animate on page reload */

.container{

  animation: 1s reloadTransition;
  height:inherit;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  max-height: 100vh;
  /* background-color: transparent; */
  /* overflow-x: hidden; */
  /* background-color: transparent; */

}
.imageSlider{
  max-height: 100vh;

  margin-top:18vh;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width:100vw;
  min-height: 100%;
  z-index: -122;
}

.AboutContainer{
  animation: 1s reloadTransition;
}
@keyframes reloadTransition {
  from{
    opacity: 0;
    transform:rotateX('-10deg')

  }
  to{
    opacity:1;
    transform: rotateX('0deg');
  }
  
}


nav {
  width: 100vw;
  position: fixed;
  background-color: rgba(146, 146, 214, 0.507);
  /* border: 2px solid red; */
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#heart{
  width: 70px;
  height: 70px;
}
.logoutBtn{
  background-color: red;
  color:white;
 position:absolute;
  right:1rem;
  top:1%;
  margin:12px;
  padding:8px 14px;
transition:0.3s all;
cursor:pointer;
}
.logoutBtn:hover{
  color:black;
  background-color: rgb(247, 167, 167);
}
.icon{
  background-color: white;
  position: absolute;
  left:10px;
  width: inherit;
  height: inherit;
  border-radius: 100%;
}
.navlist {
  color: white;
  list-style: none;
  display: flex;
}
.navlist li a {
  color: rgb(255, 255, 255);
  font-weight: 550;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 2rem;
  border-radius: 7px;
  text-decoration: none;
  cursor: pointer;
  margin:0px 3rem;
  transition: all 0.4s;
  display: inline-block;
}

.navlist li a:hover {
  /* text-decoration: underline; */
  background-color: rgb(0, 0, 0);
 transform: translateY(-20px);
 transform: scale(1.1);
  color: rgb(246, 247, 248);
  box-shadow: 2px 2px 2px 2px rgb(232, 249, 250);
  
}
.activeLink{
  color:black;
  background-color: rgb(0, 184, 245);
  box-shadow: 2px 2px 2px 2px white
  ;
  font-weight: bold;
  text-decoration: underline;
}


#typedText{
  text-align: center;
 
  
  /* text-shadow: 0 1px 0 #ccc, 
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15); */


/* text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05); */
                 

  font-size: 2rem;
  background-color: white
  ;
  width:84vw;
  margin:1rem auto;
  margin-bottom: 3rem;
  border-radius: 12px;
  padding:10px 0px;
  animation:slideUp 4s;
  position: relative;
  text-transform: uppercase;
  text-shadow: -15px 5px 20px #bed0d3;
  color: white;
  letter-spacing: -0.05em;
  font-family: 'Anton', Arial, sans-serif;
  user-select: none;
  text-transform: uppercase;
  font-size: 150px;
  transition: all 0.25s ease-out;
}
@keyframes slideUp {
  from{
    opacity:0;
    bottom:-200px;
  }
  to{
    opacity: 1;
    bottom:0;
  }
}

.welcomeSection{
  
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:2px solid red; */
  height:89.2vh;
}
.welcomeSection::before {
  content: "";
  background: url(https://wallpaperaccess.com/full/3937139.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width:100vw;
  height: 100vh;
  z-index: -1;
  opacity: 1;
  
}
.welcomeMessage{
  background-color: white;
  width: 60vw;
  min-height: 60vh;
  margin:auto;
  border-radius: 17px;
  font-weight: 500;
  position: absolute;
  transition:filter 0.7s;
  animation: transitionIn 1s;
 animation: float alternate-reverse 1s infinite ease-in-out;

}

.welcomeMessage:hover{
  filter:invert(1);
}
@keyframes float {
  to{
    transform:translateY(10px);
  }
}

@keyframes transitionIn {
  from{
    transform: translateY(-500px);
  }
  to{
    transform: translateY(0px);
    position:absolute;
  
  }
  
}

#messageContent
{
  padding: 10px;
  font-size: 1.2rem;
  font-family: system-ui;
  font-weight: 399;
  
}
.welcomeMessage h1{
  text-align: center;
  font-size: 3rem;
  background-color:rgb(111, 246, 111);
  border-radius: 7px;
}


.swiper-wrapper{
  height: 70vh;
  width: 50vw;
}


.swiper-slide
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 70vh;
}
.swiper-slide img{
  height: 70vh;
  width: 50vw;
}

.homeButtons{
  padding:10px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor :pointer;
  margin-right:10px;
  font-size: x-large;
  font-weight: 550;
  transition: 0.66s all;
  margin-left: 1.6rem;
  box-shadow: 3px 4px 5px 3px rgb(119, 117, 117);
}
.homeButtons:hover{
  background-color: green;
  color: white;
}
.home-button-div{
  /* margin-top:20vh; */
  overflow-x:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
  height: 10vh;
}
#welcomeHome{
  
  font-size: 6rem;
  text-align: center;
  margin:10px;
  font-style:italic;

padding:40px;
font-weight: bold;
border-radius: 5px;;
  
  font-family: 'Bangers', cursive;
  animation-name: leftIn;
  /* animation-delay: 1s; */
  animation-timing-function:ease
  ;
  animation-duration: 2s;
  /* margin-bottom: 120px;; */
  margin-left: 29px;
  transition:1s all;
  color: white;

  color: #fff;

  text-shadow: 3px 3px 20px #51e2f5,
      -2px 1px 30px #51e2f5;
      cursor: pointer;
}
#welcomeHome:hover{
opacity:0;
}
@keyframes leftIn {
    0%{
      position:relative;
      left:-400px;
      opacity:0;
    }
    100%{
      position:relative;
      left:0px;
      opacity:1;
    }
}

.donationContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}