* {
  margin: 0;
  padding: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Bebas+Neue&family=Montserrat:ital@1&display=swap');
/* to animate on page reload */

.container{

  animation: 1s reloadTransition;
  height:inherit;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: 150vh;
  /* background-color: transparent; */
  /* overflow-x: hidden; */
  /* background-color: transparent; */

}
body::before{
  content:"";
  position:fixed;
  background: url("https://wallpaperaccess.com/full/4425577.jpg") no-repeat ;
  top:0;
  left:0;
  width:100vw;
  min-height: 100vh;
  background-size: cover;
  z-index: -1;
  opacity: 1;
}
.AboutContainer{
  animation: 1s reloadTransition;
}
@keyframes reloadTransition {
  from{
    opacity: 0;
    transform:rotateX('-10deg')

  }
  to{
    opacity:1;
    transform: rotateX('0deg');
  }
  
}


nav {
  width: 100vw;
  position: fixed;
  background-color: rgba(31, 31, 33, 0.307);
  /* border: 2px solid red; */
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#heart{
  width: 100px;
  height: 100px;
}
.logoutBtn{
  background-color: red;
  color:white;
 position:absolute;
  right:1rem;
  top:1%;
  margin:12px;
  padding:8px 14px;
transition:0.3s all;
cursor:pointer;
}
.logoutBtn:hover{
  color:black;
  background-color: rgb(247, 167, 167);
}
.icon{
  background-color: white;
  position: absolute;
  left:10px;
  width: inherit;
  height: inherit;
  border-radius: 100%;
}
.navlist {
  color: white;
  list-style: none;
  display: flex;
}
.navlist li a {
  color: rgb(255, 255, 255);
  font-weight: 550;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 2rem;
  border-radius: 7px;
  text-decoration: none;
  cursor: pointer;
  margin:0px 3rem;
  transition: all 0.4s;
  display: inline-block;
}

.navlist li a:hover {
  /* text-decoration: underline; */
  background-color: rgb(0, 0, 0);
 transform: translateY(-20px);
 transform: scale(1.1);
  color: rgb(246, 247, 248);
  box-shadow: 2px 2px 2px 2px rgb(232, 249, 250);
  
}
.activeLink{
  color:black;
  background-color: rgb(0, 184, 245);
  box-shadow: 2px 2px 2px 2px white
  ;
  font-weight: bold;
  text-decoration: underline;
}


#typedText{
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  background-color: white
  ;
  width:54vw;
  margin:2rem auto;
  border-radius: 12px;
  padding:20px 0px;
  
}


.welcomeSection{
  
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:2px solid red; */
  height:89.2vh;
}
.welcomeSection::before {
  content: "";
  background: url(https://images.unsplash.com/photo-1593086586351-1673fca190cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width:100vw;
  height: 100vh;
  z-index: -1;
  opacity: 1;
  
}
.welcomeMessage{
  background-color: white;
  width: 60vw;
  height: 60vh;
  margin:auto;
  border-radius: 17px;
  font-weight: 500;
  position: absolute;
  transition:filter 0.7s;
  animation: transitionIn 1s;
 animation: float alternate-reverse 1s infinite ease-in-out;

}

.welcomeMessage:hover{
  filter:invert(1);
}
@keyframes float {
  to{
    transform:translateY(10px);
  }
}

@keyframes transitionIn {
  from{
    transform: translateY(-500px);
  }
  to{
    transform: translateY(0px);
    position:absolute;
  
  }
  
}

#messageContent
{
  padding: 10px;
  font-size: 1.2rem;
  font-family: system-ui;
  font-weight: 399;
  
}
.welcomeMessage h1{
  text-align: center;
  font-size: 3rem;
  background-color:rgb(111, 246, 111);
  border-radius: 7px;
}


.swiper-wrapper{
  height: 80vh;
  width: 50vw;
}

.swiper-slide
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 70vh;
}
.swiper-slide img{
  height: 70vh;
  width: 50vw;
}

.homeButtons{
  padding:10px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor :pointer;
  margin-right:10px;
  font-size: x-large;
  font-weight: 550;
  transition: 0.66s all;
  margin-left: 1.6rem;
  box-shadow: 3px 4px 5px 3px rgb(119, 117, 117);
}
.homeButtons:hover{
  background-color: green;
  color: white;
}
.home-button-div{
  /* margin-top:20vh; */
  overflow-x:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
  height: 10vh;
}
#welcomeHome{
  color: whitesmoke;
  font-size: 4rem;
  text-align: center;
  margin:10px;
  font-style:italic;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.donationContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}